{{>layouts/header}}
    <div class="p-5">
        <div class="d-flex justify-content-center mb-2">
            <a href="/membership/deleteConfirmed/{{id}}"><button type="button" class="btn btn-primary me-2">Yes</button></a>
            <a href="/membership/allUser"><button type="button" class="btn btn-danger me-2">No</button></a>
        </div>
    </div>
{{>layouts/footer}}