{{>layouts/header}}
<form action="/membership/delete" method="get">
    {{#membership}}
    <div class="p-5">
        <div class="form-floating mb-3">
            <input type="text" class="form-control visually-hidden" id="floatingInput" placeholder="ID" name="id" value="{{id}}">
        </div>
        <select class="form-select mb-3" aria-label="Default select example" name="userClass">
            <option selected>{{userClass}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <div class="input-group mb-3">
            <label class="input-group-text" id="basic-addon1">Name</label>
            <input type="text" class="form-control" placeholder="이름" name="name" aria-label="UserName" aria-describedby="basic-addon1" value="{{name}}">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" id="basic-addon1">Date</label>
            <input type="date" class="form-control" placeholder="생년월일" name="date" aria-label="Date" aria-describedby="basic-addon1" value="{{date}}">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" id="basic-addon1">Tel</label>
            <input type="tel" class="form-control" placeholder="연락처" name="tel" aria-label="Tel" aria-describedby="basic-addon1" value="{{tel}}">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" id="basic-addon1">Email</label>
            <input type="email" class="form-control" placeholder="이메일" name="email" aria-label="Email" aria-describedby="basic-addon1" value="{{email}}">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" id="basic-addon1">Area</label>
            <input type="text" class="form-control" placeholder="주소" name="area" aria-label="Area" aria-describedby="basic-addon1" value="{{area}}">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">Memo</label>
            <textarea class="form-control" aria-label="With textarea" name="memo">{{memo}}</textarea>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01" name="file" value="{{file}}">
        </div>
        <div class="d-flex justify-content-center mb-2">
            <button type="submit" class="btn btn-danger me-2">Delete</button>
            <a href="/membership/allUser"><button type="button" class="btn btn-dark me-2">Back</button></a>
        </div>
    {{/membership}}
</div>
</form>
{{>layouts/footer}}