{{>layouts/welcome_header}}
<form action="/membership/addUser" method="get">
    <div class="p-5">
        <div class="text-center mb-3">
            <img src="..." class="rounded" alt="...">
        </div>
        <div class="alert alert-primary" role="alert">
            welcome
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Start</button>
        </div>
    </div>
</form>
{{>layouts/footer}}