{{>layouts/welcome_header}}
<form action="/membership/addUser" method="get">
    <div class="p-5">
        <div class="form-floating mb-3 text-center">
            <img src="/M.png" class="img-thumbnail" alt="M">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Start</button>
        </div>
    </div>
</form>
{{>layouts/footer}}